{{yield}}

<footer class="footer">
  <div class="container">
    <div class="triplets">
      <div class="twin nine-single center footer-logo-text">
        {{{poligapBigLogo}}}
        <p>
          Unbiased and up-to-date information regarding representatives from the house and senate. Giving tools to help
          follow the money.
        </p>
      </div>
      <div class="twin nine-single twins">
        <div class="twin">
          <h5>LEARN MORE</h5>
          <ul class="footer-link-list">
            {{#link-to rootURL}}<li>Home</li>{{/link-to}}
            {{#link-to 'map'}}<li>Map</li>{{/link-to}}
            {{#link-to 'zip'}}<li>ZIP</li>{{/link-to}}
          </ul>
        </div>
        <div class="twin">
          <h5>GET INVOVLED</h5>
          <ul class="footer-link-list">
            {{#link-to 'about'}}<li>About</li>{{/link-to}}
          </ul>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="footer-social-bar">
    <div class="footer-social-icons-wrapper">
      <a href="https://github.com/julianken/poligap-ember" target="_blank"><img src="{{rootURL}}/img/githubIcon.svg"></a>
    </div>
  </div>
  <div class="rights">
    <p>
      &copy; 2016 Poligap. All Rights Reserved.
    </p>
  </div>
</footer>
