{{yield}}

<footer>
  <div class="container">
    <div class="triplets">
      <div class="twin center footer-logo-text">
        {{{poligapBigLogo}}}
        <p>
          Unbiased and up-to-date information regarding local politicians, policies,
          and events. Educate yourself and take action by making your voice heard.
        </p>
      </div>
      <div class="quadruplet">
        <h5>LEARN MORE</h5>
        <ul class="footer-link-list">
          <li>Home</li>
          <li>Map</li>
          <li>Local</li>
          <li>Saved</li>
        </ul>
      </div>
      <div class="quadruplet">
        <h5>GET INVOVLED</h5>
        <ul class="footer-link-list">
          <li>Register to Vote</li>
          <li>Petition a Change</li>
          <li>Volunteer</li>
          <li>Donate</li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="footer-social-bar">
    <div class="footer-social-icons-wrapper">
      <img src="./img/twitterIcon.svg">
      <img src="./img/githubIcon.svg">
      <img src="./img/instaIcon.svg">
    </div>
  </div>
  <div class="rights">
    <p>
      &copy; 2016 Poligap. All Rights Reserved.
    </p>
  </div>
</footer>
