<header>

  {{#link-to 'index'}}
    <div class="logo">
      <h1><img src="{{rootURL}}/img/poliLogo.svg">  poligap</h1>
    </div>
  {{/link-to}}

  <nav>
    <ul>
      {{#link-to 'map'}}<li>Map</li>{{/link-to}}
      <li>Local</li>
      <li>Saved</li>
      <li class="search-icon">{{fa-icon "search"}}</li>
    </ul>
  </nav>

</header>

{{yield}}
