<header>


    <div class="logo">
      {{#link-to 'index'}}
        <h1><img class="logo-image" src="{{rootURL}}/img/poliLogo.svg">  poligap</h1>
      {{/link-to}}
    </div>

  <nav class="desktop-nav">
    <ul>
      {{#link-to 'map'}}<li>Map</li>{{/link-to}}
      {{#link-to 'zip'}}<li>Zip</li>{{/link-to}}
      {{#link-to 'about'}}<li>About</li>{{/link-to}}
    </ul>
  </nav>
  <div class="hamburger" onClick={{action "toggleMobileMenu"}}>
    {{{hamburger}}}
  </div>
  <nav class="mobile-nav">
    <ul>
      {{#link-to 'map' invokeAction='toggleMobileMenu'}}<li>Map</li>{{/link-to}}
      {{#link-to 'zip' invokeAction='toggleMobileMenu'}}<li>Zip</li>{{/link-to}}
      {{#link-to 'about' invokeAction='toggleMobileMenu'}}<li>About</li>{{/link-to}}
    </ul>
  </nav>
</header>

{{yield}}
