{{yield}}

<div class="map-container">
  <h2 class="center-align">Select a state to browse representative&nbsp;data.</h2>
  {{#if filteredList}}
  <ul class="states-list">
    {{#each filteredList as |state|}}
      {{#link-to 'state.show' state.id}}
        <li>{{state.data.fullName}}</li>
      {{/link-to}}
    {{/each}}
  </ul>
  {{else}}
    <p>No results</p>
  {{/if}}
</div>

<div class="state-list-input">
  {{input placeholder="Type a state name to filter" value=filterValue key-press=(action (mut filterValue))}}
</div>
