footer {
  background-color: #FAFAFA;
  p {
    font-size: 17px;
    line-height: 26px;
    color: #8A9199;
  }
  ul {
    a {
      color: #8A9199;
      text-decoration: none;
    }
  }
  h5 {
    margin-bottom: 0;
    margin-top: 77px;
    color: #8A9199;
    @media screen and (max-width: 991px) {
      margin-top: 0;
    }
  }
  .twin.twins {
    padding: 0;
    @media screen and (max-width: 991px) {
      padding: 0 44px 44px 44px;
    }
    @media screen and (max-width: 575px) {
      padding: 0 44px 44px 44px;
    }
    @media screen and (max-width: 380px) {
      padding: 0 16px 44px 16px;
    }
  }
}

.quadruplet {
  padding-top: 42px;
}



.footer-logo-text {
  padding: 72px 156px 47px 0;
  @media screen and (max-width: 991px) {
    padding: 72px 88px 47px 88px;
  }
  @media screen and (max-width: 575px) {
    padding: 44px;
  }
  @media screen and (max-width: 380px) {
    padding: 44px 16px;
  }
}

.footer-social-bar {
  background: -webkit-linear-gradient(-45deg, rgba(48,35,174, .8), rgba(123,71,132, .8));
  height: 88px;
  text-align: center;
  width: 100%;
  display: table;
  .footer-social-icons-wrapper {
    vertical-align: middle;
    display: table-cell;
    img {
      padding: 0 16px;
    }
  }
}

.rights {
  height: 72px;
  box-sizing: border-box;
  display: table;
  text-align: center;
  width: 100%;
  p {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    color: #B8C2CC;
  }
}
