.white-background-content {
  box-sizing: border-box;
  padding: 114px 0;
  max-width: 996px;
  margin: 0 auto;
  h3 {
    text-transform: uppercase;
  }
  p {
    font-family: $open-sans;
  }
  .network-icon {
    height: 235px;
  }
  @media screen and (max-width: 575px) {
    padding: 44px 0;
    h2 {
      margin-top: 0;
    }
  }
}

.mobile-gray-underline {
  @media screen and (max-width: 575px) {
    border-bottom: 1px solid #e6e6e6;
  }
}

.gray-background-content {
  background-color: #FAFAFA;
  padding: 72px 0 0 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  img {
    width: 88px;
    padding-bottom: 32px;
    min-height: 85px;
  }
  h3 {
    font-size: 40px;
    line-height: 48px;
  }
  p {
    font-family: $open-sans;
    font-size: 17px;
    line-height: 26px;
  }
  @media screen and (max-width: 575px) {
    padding: 16px 0 0 0;
  }
}

.callouts {
  text-align: center;
}
