.map-container {
  padding-top: 92px;
  h2 {
    text-align: center;
    margin-bottom: 8px;
  }

  p {
    text-align: center;
    padding: 0 88px;
    margin-bottom: 88px;
  }
}

.land {
  cursor: pointer;
}


div.tooltip {
  display: none;
  position: absolute;
  border-radius: 4px;
  text-align: left;
  width: 200px;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: #000;
  color: #17181A;
  background-color: #fff;
  pointer-events: none;
  box-shadow: 0 0 40px 3px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 4px 14px 8px 14px;
  z-index: 10;
  hr {
    color: red;
    height: 1px;
    background-color: #E6E6E6;
    border: 0;
  }
  .republican-dot {
    &:before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: #FC131F;
      position: absolute;
      left: 0px;
      top:4px;
      z-index: 100;
    }
  }
  .democrat-dot {
    &:before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: #1CA7F0;
      position: absolute;
      left: 0px;
      top: 4px;
    }
  }
  .male-icon {
    &:before {
      content: '';
      width: 8px;
      height: 15px;
      background-size: cover;
      background-image: url(./images/manIcon.svg);
      position: absolute;
      left: -1px;
      top: 0px;
    }
  }
  .female-icon {
    &:before {
      content: '';
      width: 8px;
      height: 15px;
      background-size: cover;
      background-image: url(./images/womanIcon.svg);
      position: absolute;
      left: -1px;
      top: 0px;
    }
  }
  .state-tooltip-section {
    margin-bottom: 8px;
  }
    &:after, &:before {
  	top: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: "";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  &:after {
  	border-color: rgba(255, 255, 255, 0);
  	border-top-color: #fff;
  	border-width: 5px;
  	margin-left: -5px;
  }
  &:before {
  	border-color: rgba(255, 225, 255, 0);
  	border-top-color: #fff;
  	border-width: 5px;
  	margin-left: -5px;
  }
  h3 {
    margin: 0;
    font-family: $whitney-bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;
  }
  h5 {
    margin: 0 0 4px 0;
    padding: 0;
    font-family: $open-sans;
    font-weight: 600;
    font-size: 12px;
  }
  p {
    font-weight: 400;
    margin: 2px 0;
    font-size: 12px;
    padding: 0 0 0 10px;
    position: relative;
  }
  hr {
    margin: 38px 0 10px 0;
  }
}

.states-list {
  a {
    color: #00A6F3;
    text-decoration: none;
    font-size: 17px;
  }
}

.zip-code-link {
  a {
    color: #00A6F3;
    text-decoration: none;
    font-size: 17px;

  }
}

.fixfixed .zip-code-link {
  @media screen and (max-width: 575px) {
    position: absolute;
    bottom: 88px;
    text-align: center;
    width: 100vw;
    p {
      font-size: 28px !important;

    }
  }
}

.zip-code-wrapper {
  position: relative;
}

.zip-code-input > input {
  max-width: 637px;
  width: 100%;
  font-size: 15px;
  font-weight: 100;
  box-sizing: border-box;
  padding: 12px 15px;
  border: 1px solid #B8C2CC;
  font-family: $open-sans;
  margin: 40px 0 144px 0;
}

.zip-code-input {
  @media screen and (max-width: 575px) {
    padding-top: 4px;
    background-color: #fff;
    border-top: solid 2px #B8C2CC;
    background: -webkit-linear-gradient(-45deg, rgb(48,35,174), rgb(123,71,132));
    input {
      margin-top: 4px;
      width: 84vw;
      padding: 10px;
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: 100;
      font-family: $open-sans;
      transition: 250ms width;
      border-radius: 3px;
      border: none;
    }
  }
}

.zip-code-blurb {
  max-width: 768px;
  padding: 0 16px;
  margin: 0 auto;
}


@media screen and (max-width: 575px) {
  .fixfixed .zip-code-blurb, .fixfixed .zip-code-link {
    position: absolute;
    bottom: 0px;
  }
}

.zip-code-wrapper {
  @media screen and (max-width: 575px) {
    height: 50vw;
  }
}

.state-list-input {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 8px;
  background-color: #fff;
  border-top: solid 2px #B8C2CC;
  input {
    width: 85vw;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 100;
    font-family: $open-sans;
  }
  @media screen and (max-width: 575px) {
    display: none;
  }
}

.state-list-input {
  background: -webkit-linear-gradient(-45deg, rgba(48,35,174, .8), rgba(123,71,132, 1));
  input {
    transition: 250ms width;
    border: none;
    border-radius: 3px;
  }
}

.fixfixed .state-list-input input {
  width: 92vw;
}
