.map-container {
  padding-top: 114px;
  h2 {
    text-align: center;
    margin-bottom: 8px;
  }

  p {
    text-align: center;
    padding: 0 88px;
    margin-bottom: 88px;
  }
}

.land {
  cursor: pointer;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: #000;
  border: 1px solid #red;
  color: #fff;
  pointer-events: none;
}
