{{outlet}}

<div class="banner" style="background-image: url({{rootURL}}/assets/images/states/alabama/capitol.jpg);">
  <div class="mask"></div>
  <h1 class="banner-header" style="margin-top:172px">{{model.state.full_name}}</h1>
  <p class="banner-content">
    Alabama is organized into three branches of government - the executive branch consisting
    of the Governor and the other independetly elected constitutional officers; the legislative
    branch consisting of the Assembly and Senate; and the judicial branch consisting of the Supreme Court
    of California and lower courts.
  </p>
</div>

<div class="senators">
  {{state-senators state=model}}
</div>
