{{outlet}}

<div class="container header-margin-extra">

  <div class="about about-container">
    <h2>Welcome to Poligap!</h2>

    <p>
      Poligap is an attempt to create a space where information about representative
      donations and other information so that it can be accessed easily on a variety of devices.
    </p>
    <p>
      The application is currently in it's first release, but there are a variety of
      features planned that will be implemented in the near future.
    </p>

    <h3>How can Poligap help me?</h3>

    <p>
      The goal is to provide information to help make your voting choices clearer, as well
      as general information that can help you when trying to understand the politics of your
      state, your country, and enventually your cities and counties.
    </p>

    <h3>Where does the information come from?</h3>

    <p>
      The application integrates information from three sources at the moment, listed below...
    </p>
      <ul>
        <a href="https://www.opensecrets.org/" target="_blank">
          <li>Center for Responsive Politics</li>
        </a>
        <a href="http://sunlightfoundation.com/" target="_blank">
          <li>Sunlight Foundation</li>
        </a>
        <a href="https://developers.google.com/civic-information/">
          <li>Google Civic Information API</li>
        </a>
      </ul>
    <p>
      Future releases will include new sources for information as we begin to expand the scope of
      the application.
    </p>

    <h3>What can I expect in future releases?</h3>

    <p>
      We have a number of things planned for future releases. The more help I can get ahold of, the
      quicker I can roll out updates.
    </p>

      <ul>
        <li>Integration of executive and judicial branches.</li>
        <li>User system that will allow users to follow representatives for up to date information.</li>
        <li>Voting records for representatives, and upcoming votes.</li>
        <li>City level representative information.</li>
      </ul>


      <h3>How can I help?</h3>

      <p>
        If you're a developer or a political scientist, I could always use more help.
      </p>

      <p>
        Send me an e-mail if you'd like to get involved! <a href="mailto:poligapper@gmail.com">poligapper@gmail.com</a>
      </p>
  </div>
</div>
