
<header>

  <div class="logo">
    <h1>poligap</h1>
  </div>

  <nav>
    <ul>
      <li>Map</li>
      <li>Local</li>
      <li>Saved</li>
      <li>{{fa-icon "search"}}</li>
    </ul>
  </nav>

</header>



{{outlet}}
