{{outlet}}
<div class="index-route">
  <div class="banner" style="background-image: url(./img/fist.jpg);">
    <div class="photo-credit">Photo by Gabriella Angotti-Jones / The Guardsman</div>
    <div class="mask"></div>
    <h1 class="banner-header">Are your representatives representing&nbsp;&nbsp;<i>you?</i></h1>
    <p class="banner-content no-mobile">
      Democracy begins at the local level. Now, there's no excuse not to know who's representing you
      and making decisions on your behalf. Poligap bridges the gap between regular people like you
      and local government--providing tools and information necessary to influence the policies
      and elections that directly impact you and the place you&nbsp;live.
    </p>
    <p class="banner-content no-desktop no-tablet">
      Democracy begins at the local level. Now, there’s no excuse not to
      know who’s representing you and making decisions on your&nbsp;behalf.
    </p>
  </div>
  <div class="text-wrapper white-background-content right-align tablet-left-align">
    <div class="twin nine-single">
      <h3 class="change-title">Change begins with knowing who's calling the shots</h3>
      <p>
        Dig into the lives of your local representatives, or those from around the country. Follow the money l
        to understand what influences their decisions in lawmaking.
      </p>
    </div>
    <div class="twin nine-single image-wrapper no-mobile no-tablet">
      <img class="image-full network-icon" src="./img/connections.svg">
    </div>
    <div class="clear"></div>
  </div>
  <div class="gray-background-content triplets">
    <div class="container">
      <div class="triplet nine-single center mobile-gray-underline">
        <img class="front-page-callout-image matched-images" src="./img/ballot.svg">
        <h3>64%</h3>
        <p>
          Of Americans can't name the three branches of government
        </p>
      </div>
      <div class="triplet nine-single center mobile-gray-underline">
        <img class="front-page-callout-image matched-images" src="./img/outspendIcon.svg">
        <h3>95%</h3>
        <p>
          Of house candidates who outspend their oponents win
        </p>
      </div>
      <div class="triplet nine-single center">
        <img class="front-page-callout-image matched-images" src="./img/moneyIcon.svg">
        <h3>$1.7B</h3>
        <p>
          Spent on senate and house elections for 2016 cycle
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="container center white-background-content">
    <h2>
      These numbers are pretty bad,&nbsp;huh?<br>
      How about we do something about&nbsp;it.
    </h2>

    {{#link-to 'map'}}
      <div class="blue-button">
        <p>
          Show me my reps
        </p>
      </div>
    {{/link-to}}
  </div>
</div>
