
<div class="no-mobile no-tablet">
  {{map-interface states=model.states representatives=model.representatives}}
</div>

<div class="no-desktop center-align">
  {{state-list-selection states=model.states}}
</div>
