{{outlet}}

<div class="container header-margin">
  {{input value=zip key-press=(action (mut zip))}}
  {{#if city}}
    {{#link-to 'state.show' stateID}}<p>{{city}} {{state}}</p>{{/link-to}}
  {{/if}}
</div>
